<div id="mask" class="hidden-xs hidden-sm">
	<nav class="navbar navbar-default" id="sliderMenu">
		<div class="container-fluid">
			<div class="row lineHome text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<a href="{{base_url}}"><img src="{{base_url}}assets/img/logos/hsf_logo.png" class="logo img-responsive img-center UDPadding"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-3">
					<a href="{{base_url}}institucion" class="hoverSlider">
						<img src="{{base_url}}assets/img/icons/institucion.png" class="img-responsive img-center">
						<p class="text-center text-darkBlue">Institución</p>
					</a>
				</div>
				<div class="col-sm-2 hoverSlider">
					<a href="{{base_url}}medicos" class="hoverSlider">
						<img src="{{base_url}}assets/img/icons/medicos.png" class="img-responsive img-center">
						<p class="text-center text-darkBlue">Médicos</p>
					</a>
				</div>
				<div class="col-sm-2 hoverSlider">
					<a href="{{base_url}}pacientes" class="hoverSlider">
						<img src="{{base_url}}assets/img/icons/pacientes.png" class="img-responsive img-center">
						<p class="text-center text-darkBlue">Pacientes</p>
					</a>
				</div>
			</div>
		</div>
	</nav>
</div>