{% extends "default.html" %}

{% block sectionId %}home{% endblock sectionId %}


{% block title %}Bienvenido{% endblock title %}

{% block content %}

<div class="row UDPadding text-darkBlue text-md">
	<div class="col-xs-8 col-xs-offset-2">
		<p>El Hospital San Felipe fue fundado en 1965 por el Dr. José Kahuam González y desde entonces las generaciones de médicos de la familia Kahuam han conservado la dedicación y respeto hacia los pacientes que caracterizaban al Dr. Kahuam.</p>
	</div>
</div>
<div class="row UDPadding text-darkBlue text-md">
	<div class="col-xs-8 col-xs-offset-2">
		<p>Actualmente el hospital cuenta con los servicios de medicina general, especialidades médico-quirúrgicas (Cirugía, Pediatría, Ginecología & Obstetricia, oftalmología, cirugía plástica, rayos x, etc.) y odontología.</p>
	</div>
</div>


{% endblock content %}

