{% extends "default.html" %}

{% block sectionId %}home{% endblock sectionId %}


{% block title %}Bienvenido{% endblock title %}

{% block content %}
<div class="row bgHome">
	<div class="col-xs-12">
		<div class="row UDPadding text-sm text-center arriba">
			<div class="col-sm-12 ">
				<p>El Hospital San Felipe fue fundado en 1965 por el Dr. José Kahuam González y desde entonces las generaciones de médicos de la familia Kahuam han conservado la dedicación y respeto hacia los pacientes que caracterizaban al Dr. Kahuam.</p>
			</div>
		</div>
		<div class="row UDPadding text-sm text-center abajo">
			<div class="col-sm-12">
				<p>Actualmente el hospital cuenta con los servicios de medicina general, especialidades médico-quirúrgicas (Cirugía, Pediatría, Ginecología & Obstetricia, Perinatología, Urología, Medicina Interna y Reumatología, Gastroenterología y Videoendoscopia, Cirugía Plástica y Reconstructiva, Traumatología y Ortopedia, Cardiología, Oftalmología, Otorrinolaringología, entre otras especialidades médicas) así como odontología integral y por especialidades (Cirugía Maxilofacial, Odontología Pediátrica, etc.), además de laboratorio de análisis clínicos, radiología, ultrasonido estructural, 3D y 4D.</p>
			</div>
		</div>
	</div>
</div>



{% endblock content %}

