{% extends "default.html" %}

{% block sectionId %}medicos{% endblock sectionId %}


{% block title %}Médicos{% endblock title %}

{% block content %}
	<div class="row UDPadding line">
		<div class="col-xs-12 PC text-center">
			<h3 class="text-light">Programación de Cirugías</h3>
			<p class="text-sm">En el HSF todo el personal tiene el compromiso de brindarle un excelente servicio.<br>
			Con la finalidad de evitar contratiempos en el proceso de admisión de su paciente en el siguiente teléfono podrá programar sus cirugías.</p>
			<p class="text-mega"><a class="text-lightBlue" href="tel:53415506">53415506</a></p>
		</div>
		<div class="col-xs-12 RC text-center">
			<h2 class="text-light">Renta de Consultorios</h2>
			<p>El Hospital San Felipe cuenta con consultorios que se adaptan a las necesidades de médicos, odontódologos, rehabilitadores, nutriólogos,  psicólogos y demás profesionales de la salud.</p>
			<p><a href="mailto:medicohsf@gmail.com" class="text-xl text-white LRPadding">medicohsf@gmail.com</a></p>
		</div>
		<div class="col-xs-12 AM text-center">
			<h2 class="text-light">Atención a Médicos</h2>
			<p>Su opinión es muy importante para el Hospital San Felipe, por lo que ponemos a su disposición los siguientes medios de contacto:</p>
			<p class="text-mega"><a class="text-darkBlue" href="tel:53415575">53415575</a></p>
			<p><a href="mailto:medicohsf@gmail.com" class="text-xl text-white LRPadding">medicohsf@gmail.com</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center text-lightBlue text-light">Declaración de ginebra</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="{{base_url}}assets/img/icons/cruz.png" class="img-responsive img-center">
		</div>
	</div>
	<div class="row UDPadding">
		<div class="col-xs-12">
			<p class="text-center text-darkBlue text-lg">En el Hospital San Felipe buscamos desempeñar las profesiones de salud con un alto sentido humano siguiendo la Declaración de Ginebra.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-center text-darkBlue">Prometo solemnemente:</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Consagrar mi vida al servicio de la humanidad.<br>Otorgar a mis maestros el respeto, gratitud y consideraciones que merecen. </p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Ejercer mi profesión dignamente y a conciencia.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Velar solícitamente y ante todo por la salud de mi paciente.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Guardar y respetar los secretos a mí confiados, aún después de fallecido mi paciente.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Mantener incólumes por todos los conceptos y medios a mi alcance el honor y las nobles tradiciones de la profesión médica.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Considerar como hermanos a mis colegas.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">No permitir que consideraciones de credo político o religioso, nacionalidad raza, sentido político o posición social se interpongan entre mis deberes profesionales y mi paciente.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well well-sm">
			<p class="text-center text-darkBlue">Velar con el máximo respeto por la vida humana desde su comienzo, aun bajo amenaza, y no emplear mis conocimientos médicos para contravenir las leyes humanas.</p>
		</div>
	</div>
{% endblock content %}