{% extends "default.html" %}

{% block sectionId %}pacientes{% endblock sectionId %}


{% block title %}Pacientes{% endblock title %}

{% block content %}
<div class="row padUp">
	<div class="col-xs-12">
		<h2 class="text-center text-lightBlue text-light">Directorio Médico</h2>
	</div>
</div>
<div class="row padDown">
	<div class="col-xs-12 text-center">
		<img src="{{base_url}}assets/img/icons/cruz.png" class="img-responsive img-center">
	</div>
</div>
<div class="row line padDown">
	<div class="col-xs-12">

		<div class="row">
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Nicolás Kahuam Dávalos<br><small class="text-darkBlue">Director General</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Nicolás Kahuam López<br><small class="text-darkBlue">Medicina General</small></h4>

				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Eduardo Cruz<br><small class="text-darkBlue">Anestesiología</small></h4>

				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dra. Francisca Rodrígues<br><small class="text-darkBlue">Anestesiología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Juan Carlos Morales Urbina<br><small class="text-darkBlue">Angiología y Cirugía Vascular</small></h4>

				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Alejandro Morales Medina<br><small class="text-darkBlue">Cirugía Plástica</small></h4>

				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Alberto Mena Contreras<br><small class="text-darkBlue">Endoscopía</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. David Ricardez Martínez<br><small class="text-darkBlue">Gastroenterología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Julian Gomez Morales<br><small class="text-darkBlue">Ginecología y Obstetricia</small></h4>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dra. Hemisenda Bermúdez Tapia<br><small class="text-darkBlue">Ginecología y Obstetricia</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Jose Luis Gomez Gomez<br><small class="text-darkBlue">Medicina General</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Joel Navarro Alvarado<br><small class="text-darkBlue">Medicina Interna</small></h4>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Felipe Pina<br><small class="text-darkBlue">Medicina Interna</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Jesús Rogelio Rojas Gómez<br><small class="text-darkBlue">Odontología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Josef Lorenza Schenk Palao<br><small class="text-darkBlue">Ortopedia/Traumatología</small></h4>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Rafael Gutiérrez García<br><small class="text-darkBlue">Otorrinolaringología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Alejandro Sanders<br><small class="text-darkBlue">Pediatría</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Luis Alberto Mercado de la Peña<br><small class="text-darkBlue">Psiquiatría</small></h4>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. David Nicolás Villar Palomares <br><small class="text-darkBlue">Radiología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgLightBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Fausto García Trejo<br><small class="text-darkBlue">Urología</small></h4>
				  </div>
			</div>
			<div class="col-sm-4 media bgMidBlue">
				<div class="media-left">
				     <img class="media-object" src="{{base_url}}assets/img/icons/pill.png">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Dr. Alberto Velarde Carrillo<br><small class="text-darkBlue">Urologóa</small></h4>
				  </div>
			</div>
		</div>

	</div>
</div>


<div class="row padUp">
	<div class="col-xs-12">
		<h2 class="text-center text-lightBlue text-light">Guía del Paciente</h2>
	</div>
</div>
<div class="row padDown">
	<div class="col-xs-12 text-center">
		<img src="{{base_url}}assets/img/icons/cruz.png" class="img-responsive img-center">
	</div>
</div>
<div class="row text-center text-md text-darkBlue">
	<div class="col-sm-8 col-sm-offset-2">
		<p>En el HSF todo el personal tenemos el compromiso de 
		brindarle un servicio cálido y cuidar de su salud.</p><br>
		<p>Con la finalidad de que su estancia en el HSF sea lo mas confortable posible y evitar contratiempos durante su estancia hemos establecido los siguientes métodos de admisión:</p><br>
		<p class="text-grey">1. A través de su médico: Se comunicará al departamento de admisión y registrará su ingreso.</p>
		<p class="text-grey">2.	Por medio de admisión telefónica: Una vez que su médico ha programado una intervención, usted podrá comunicarse con el departamento de admisión en donde se le solicitarán sus datos y se le proporcionarán indicaciones especiales para su ingreso.</p><br>
		<p>En base a las políticas del Hospital se le solicitará un depósito. En caso de realizar este procedimiento con tarjeta de crédito se deberá mostrar una identificación oficial. </p>
	</div>
</div>
<div class="row UDPadding">
	<div class="col-xs-12 AP text-center">
		<h2 class="text-light">Atención a Pacientes</h2>
		<p>Su opinión es muy importante para el Hospital San Felipe, por lo que ponemos a su disposición los siguientes medios de contacto:</p>
		<p class="text-mega"><a class="text-lightBlue" href="tel:53415575">53415575</a></p>
		<p><a href="mailto:medicoshsf@gmail.com" class="text-xl text-white LRPadding">medicoshsf@gmail.com</a></p>
	</div>
</div>
{% endblock content %}