#home{
	.row{
		//height: 300px;
	}
}

.bgHome{
	height: 603px;
	background: url(../img/splash/home.png) center no-repeat;
	margin: 10% 0 !important;

	.arriba{
		max-width: 1200px;
		padding-top: 8%;
		height: 230px;
		p{
			line-height: 30px;
			max-width: 920px;
			margin: 0 auto;
		}

		@media (max-width: @screen-sm-max) { 
			padding: 0;
			height: 100%;
			margin-top: 0;
		}
	}

	.abajo{
		max-width: 1200px;
		height: 280px;
		margin-top: 130px;
		p{
			line-height: 25px;
			max-width: 920px;
			margin: 0 auto;
		}

		@media (max-width: @screen-sm-max) { 
			padding: 0;
			height: 100%;
			margin-top: 50px;
		}
	}

	@media (max-width: @screen-sm-max) { 
		background: @darkBlue;
		height: 100%;
		padding: 5%;
	}

	
}