#medicos{
	.line{
		background: url(../img/lines/line_institucion.png) bottom center no-repeat;
		@media (max-width: @screen-sm-max) { 
			background: none;
		}
	}

	.text-mega{
		font-size: 36px;
		line-height: 33px;
	}
}

.PC{
	height: 318px;
	background: url(../img/splash/prograCirugias.png) center no-repeat;
	padding: 5% 15% 0 31%;

	@media (max-width: @screen-sm-max) { 
		background: @darkBlue;
		height: 100%;
		padding: 5%;
	}

	@media (min-width: @screen-lg-min) { 
		padding: 4.3% 21% 0 35%;
	}
}

.RC{
	height: 318px;
	background: url(../img/splash/rentaConsultorios.png) center no-repeat;
	padding: 5.5% 31% 0 16%;

	@media (max-width: @screen-sm-max) { 
		background: @midBlue;
		height: 100%;
		padding: 5%;
	}
	@media (min-width: @screen-lg-min) { 
		padding: 5.5% 32% 0 23%;
	}
}

.AM{
	height: 318px;
	background: url(../img/splash/atencionMedicos.png) center no-repeat;
	padding: 5% 15% 0 31%;

	@media (max-width: @screen-sm-max) { 
		background: @lightBlue;
		height: 100%;
		padding: 5%;
	}
	@media (min-width: @screen-lg-min) { 
		padding: 3.3% 21% 0 35%;
	}

}

.media-heading{
	padding-top: 5%;
}

.dralia-reviews{
	display: inline;
	margin: 0 auto;
	width: 100%;

	.dralia-opinions{
		max-width: none;
	}
}